@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 100% 16%;
    --foreground: 0 0% 98%;
    --card: 200 50% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 200 50% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 32 35% 59%;
    --primary-foreground: 200 100% 16%;
    --secondary: 200 30% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 200 30% 25%;
    --muted-foreground: 0 0% 70%;
    --accent: 32 35% 59%;
    --accent-foreground: 200 100% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 30% 30%;
    --input: 200 30% 25%;
    --ring: 32 35% 59%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold;
  }
  
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
